

.dashboard {
  padding: 20px;
  background-color: #f0f4f8; /* Cor de fundo da sua preferência */
    display: flex;

}

.add-button {
  margin-bottom: 20px;
  /* estilos adicionais para o botão */
}

.campaign-list {

}

.campaign-item {
    list-style: none;
    padding: 0;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
}

.status-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* estilos adicionais para o indicador de status */
}

.campaign-info h2 {
  margin: 0;
  /* estilos adicionais para o título da campanha */
}

.campaign-info p {
  margin: 0;
  /* estilos adicionais para a data de atualização */
}

.details-button {
  /* estilos adicionais para o botão de detalhes */
}